<% layout ("/layouts/boilerplate")%>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form 
    method="POST" 
    action="/listings/<%= listing._id  %>?_method=PUT"
       novalidate 
        class="needs-validation"
        enctype="multipart/form-data"
        >  <!--yha pr put req bejne ke liye method override package install krna pdta hai (nom i method-override)-->

        <div class="mb-3">

        <label for="title" class="from-lable "> Title </label>
        <input class="form-control" type="text" value="<%=listing.title  %>" name="listing[title]" required >
        <div class="valid-feedback">Title looks good </div>
      
      </div>
      <div class="mb-3">

        <label for="description" class="from-lable "> Description </label>
        <textarea class="form-control" type="text"  name="listing[description]" required > value="<%=listing.description  %>"  </textarea>
        <div class="invalid-feedback">Write a sort description </div>

      </div>
        
      <div class="mb-3">
        Original Listing Image <br>
        <!-- to refrom original bcz sometimes its too big -->
     <img  src="<%= originalImageUrl  %>" alt="">
      
      </div> 

      <div class="mb-3">

        <label for="image" class="from-lable "> Upload New Image  </label>
        <input 
        class="form-control" 
        type="file"  
        name="listing[image]" 
         ><!--yha pe hmne yeh listing[image] object bna diya hai jisse app.js me jayada nhi likhna pdega ar yeh sare java script ke key value pair ki trh bn jayege-->

      </div> 
        
      <div class="row">

        <div class="mb-3 col-md-4">
            <label for="price" class="from-lable "> Price </label>
            <input class="form-control"  value="<%=listing.price %>" name="listing[price]" required >
            <div class="invalid-feedback">Please enter valid Price </div>
</div>
          <div class="mb-3 col-md-8"> 
            <label for="country" class="from-lable "> Country</label>
            <input class="form-control" type="text"  value="<%=listing.country  %>" name="listing[country]" required >
            <div class="invalid-feedback">Please enter Country </div>
       </div>   
      </div>

     
      <div class="mb-3">

        <label for="location" class="from-lable "> Location </label>
        <input class="form-control" type="text"  value="<%=listing.location  %>" name="listing[location]" required >
        <div class="invalid-feedback">Please enter Location </div>
      </div>   

        <button class="btn btn-dark edit-btn mt-3">Edit</button>

    </form>

</div> 

</div>
 